In [213]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from word2number import w2n
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score

In [214]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [215]:
df.isnull().sum()

experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

In [216]:
df['experience'].fillna(0, inplace = True)

In [217]:
df['test_score'].fillna(df['test_score'].mean(), inplace = True)

In [218]:
df.isnull().sum()

experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [219]:
X = df.iloc[:,:3]

In [220]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [221]:
y = df.iloc[:,-1]

In [231]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [249]:
from sklearn.linear_model import  Ridge
from sklearn.model_selection import GridSearchCV

ridge = Ridge()
ridge.fit(X_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [250]:
y_pred = las.predict(X_test)

In [251]:
r2_score(y_pred, y_test)

0.8128525963187873

In [253]:
import pickle
# Saving model to disk
pickle.dump(ridge, open('sal_model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('sal_model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[53863.99524343]